body {
	font-family: "Optima";
	font-size: 100%;
}

h1 {
       text-align: center;
        font-size: 160%;
        color: #F8F8F8;
        background-color: #047349;
        border: #DBA613 3px solid;
        padding: 1ex;
	    bottom-margin: 1 px;

        clear: both;

}

h2 {
	top-margin: 2 px;
	bottom-margin: 1 px;
}

h2 em {
      font-size: 60%;
	  color: #CD192A;
}

table {
	color: #333333;
	background-color: #FFFFFF;
	border-top: 2px #666666 solid;
	border-bottom: 2px #666666 solid;
}

td, th {
	border-bottom: 1px #666666 solid;
	padding: 0.75ex;
	vertical-align: top;
	text-align: center;
}

ul {
	margin: 0ex;
	padding-left: 1.5em;
}

p {
	margin: 0ex;
}

p.header {
	margin-bottom: 0.5ex;	
	font-size: 90%
}

p.note {
	font-size: 60%;
}

a:link {
		color: #047349;
}

a:visited {
		color: #CD192A;
		}

a.detailsLink {
	display: block;
	margin-top: 0.5ex;
	margin-bottom: 0ex;
	padding: 0.25ex;
	border: 2px #DBA613 solid;
	text-align: center;
	text-decoration: none;
	font-size: 100%;
    color: #FAFAFA;
    background-color: #047349;

}

a.detailsLink:hover {
	color: #FFFF00;
	background-color: #000000;
}

a.quicklink {
	margin-top: 0.5ex;
	margin-bottom: 0ex;
	padding: 0.25ex;
	border: 1px #000000 solid;
	text-align: center;
	text-decoration: none;
	font-size: 85%;
	color: #fAfAfA;
	background-color: #CD192A;
}

a.quicklink:hover {
	color: #FFFF00;
	background-color: #000000;
}



td.listCell {
	text-align: left;
	font-size: 85%;
}

td.Programs1 {
	color: #f8f8f8;
	background-color: #DBA613;
}

td.Programs2 {
	color: #f8f8f8;
	background-color: #CD192A;
}

td.Programs3 {
	color: #f8f8f8;
	background-color: #047349;
}

td.Programs4 {
	color: #f8f8f8;
	background-color: #DBA613;
}

td.Programs5 {
	color: #f8f8f8;
	background-color: #CD192A;
}

td.Programs6 {
	color: #f8f8f8;
	background-color: #047349;
}

td.Programs7 {
	color: #f8f8f8;
	background-color: #DBA613;
}

td.Programs8 {
	color: #f8f8f8;
	background-color: #CD192A;
}

td.Programs9 {
	color: #f8f8f8;
	background-color: #047349;
}

td.Programs10 {
	color: #f8f8f8;
	background-color: #DBA613;
}

td.Programs11 {
	color: #f8f8f8;
	background-color: #CD192A;
}

td.Programs12 {
	color: #f8f8f8;
	background-color: #047349;
}

td.Programs13 {
	color: #f8f8f8;
	background-color: #DBA613;
}

td.Programs14 {
	color: #f8f8f8;
	background-color: #CD192A;
}

td.Programs15 {
	color: #f8f8f8;
	background-color: #047349;
}

td.Programs16 {
	color: #f8f8f8;
	background-color: #DBA613;
}

td.Programs17 {
	color: #f8f8f8;
	background-color: #CD192A;
}

td.Programs18 {
	color: #f8f8f8;
	background-color: #047349;
}

